
* {
  font-family: 'monospace', 'sans-serif';
  box-sizing: border-box;
}
:root {
--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Sets brand criteria */
h1 {
  margin-top: 25px;
  font-size: 2rem;
  color: dimgrey;
  border-style: none;
  padding: 5px;
  font-family: var(--bs-font-monospace);
}


/* Sets paragraph bottom margin */
p {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

/* Sets body criteria */
body {
  background-color: #f4f3f3;
  padding: 0;
  margin: 0;
}

/* Sets header criteria */
/* header {
  padding: 20px;
  /* background-color: dimgrey; */

.hero-img {
  background-image: url("./Assets/santamaria.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  outline: solid rgb(103, 99, 99) 1px;
}

.navbar-toggler-icon {
  display: iflex;
  width: 1.5em;
  height: 1.5em;
  vertical-align: right;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  height: 70%;
  align-items: flex-start;
}


.navbar-nav li {
  background: rgba(255, 250, 250, 0.7);
}
/* 
.greeting {
  color: dimgrey;
  height: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 75%;
  color: #d9dcd6;
  font-weight: bold;
  background-color: grey;
} */
 
.space {
  margin-left: 10px;
}
.navbar-nav a{
  font-size: larger;
  font-family: var(--bs-font-monospace);
}

.navbar-nav li {
  background: none;
}

/* Sets project display */
/* .parent {
  display: flex;
  margin-top: 25px;
} */

/* Sets criteria for project left column */
.left-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  color: dimgrey;
}

/* Sets criteria for project right columns */
.right-container {
  margin-left: 20px;
  margin-top: 30px;
}

/* Sets "About Me" image criteria */
.About-me img {
  max-width: 200px;
  max-height: 200px;
  align-self: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

/* Sets about me section criteria */
.About-me {
  border-left: 2px solid
    dimgrey;
  color: dimgrey;
  align-self: flex-end;
  margin-bottom: 1.5rem;
}

#About {
  margin-top: 30px;
}
/* Aligns text in main sections */
.float-left {
  float: left;
  margin-right: 40px;
  margin-top: 5px;
  margin-left: 5px;
}

/* Sets container 1 criteria */
.flexbox-container-1 {
  border-left: 2px solid dimgrey;
  color: dimgrey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* Sets container 2 criteria */
.flexbox-container-2 {
  border-left: 2px solid;
  color: dimgrey;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* Sets placeholder criteria */
.cards {
  border: solid;
  position: relative;
  width: 400px;
  height: 200px;
  display: block;
  position: relative;
  overflow: hidden;
  
}

/* Enlarges feature product */
.main-card {
  border: solid;
  position: relative;
  display: block;
  width: 800px;
  height: 400px;
  overflow: hidden;
  margin-top: 30px;
}

/* Sets larger container image criteria */
.img-1 {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Sets smaller container image criteria */
.images {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Telling main project title where to align over image */
.text-1 {
  position: relative;
  z-index: 2;
  top: 60%;
  text-align: flex-start;
  border-style: none;
  font-size: 1.5rem;
  color: dimgrey;
  background-color: white;
  padding: 10px;
  margin-right: 70%;
  margin-left: -5px;
  border: solid grey 1px;
}

/* Sets cards criteria */
.cards-h4 {
  position: relative;
  top: 110px;
  text-align: flex-start;
  border-style: none;
  font-size: 1.5rem;
  color: dimgrey;
  background-color: white;
  padding: 10px;
  z-index: 2;
  margin-right: 60%;
  margin-left: -20px;
  border: solid grey 1px;
}

/*  Contact me section */
footer {
  border-left: 2px solid;
  padding-right: 1rem;
  color: rgb(105, 105, 105);
  height: 70px;
  margin-top: 1.5rem;
  font-size: 1.6rem;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* Chages link color to grey plus additional criteria */
.footer a ,
a:link,
a:focus,
a:active {
  text-decoration: none;
  cursor: pointer;
  color: dimgray;
  margin: 20px;
}


/* We are telling the main body and navbar to stack vertically in a column */
@media screen and (max-width: 576px) {
  nav,
  parent {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}


/* Telling the main body and navbar to stack vertically in a column */
@media screen and (max-width: 992px) {
  h1 {
    margin-bottom: 0px;
    max-height: 60px;
  }
  .cards-h4 {
    font-size: 14px;
  }
  .cards {
    flex: 0 0 100%;
  }
  
}

/* Telling the left container to maintain a left margin at smaller screen sizes */
@media screen and (max-width: 768px) {
  .left-container {
    margin-left: 5px;
    margin-right: 5px;
  }

  .navbar-nav li {
    background: rgba(255, 250, 250, 0.7);
  }
  
}

/* Telling the left container to maintain a left margin at smaller screen sizes */
@media screen and (max-width: 576px) {
.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.left-container {
  margin-left: 5px;
  margin-right: 5px;
}

.navbar-nav li {
  background: rgba(255, 250, 250, 0.7);
}

}

