* {
  font-family: "monospace",
    "sans-serif";
  box-sizing: border-box;
}
:root {
  --bs-font-monospace: SFMono-Regular,
    Menlo, Monaco, Consolas,
    "Liberation Mono",
    "Courier New", monospace;
}



.greeting {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 75%;
  color: grey;
  font-weight: bold;
  background-color: whitesmoke;
}

/* Sets brand criteria */
h1 {
  margin-top: 25px;
  font-size: 2rem;
  color: dimgrey;
  border-style: none;
  padding: 5px;
  font-family: var(
    --bs-font-monospace
  );
}

h3 {
  font-family: var(
    --bs-font-monospace
  );
  font-size: x-large;
  color: dimgrey;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}
/* Sets paragraph bottom margin */
p {
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.hero-img {
  background-image: url("./Assets/santamaria.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  outline: solid
    rgb(103, 99, 99) 1px;
}

.navbar-toggler-icon {
  display: iflex;
  width: 1.5em;
  height: 1.5em;
  vertical-align: right;
  background-repeat: no-repeat;
  background-position: right;
  background-size: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  height: 70%;
  align-items: flex-start;
}

.navbar-nav li {
  background: rgba(
    255,
    250,
    250,
    0.7
  );
}

.navbar-nav a {
  font-size: larger;
  font-family: var(
    --bs-font-monospace
  );
}

.navbar-nav li {
  background: none;
}

.About-me {
  color: dimgrey;
}

/* Sets "About Me" image criteria */
.About-me img {
  max-width: 200px;
  max-height: 200px;
  align-self: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

/* Aligns text in main sections */
.text {
  float: left;
  margin-right: 40px;
  margin-top: 5px;
  margin-left: 5px;
}

.row {
  margin-top: 30px;
}

.col-9 {
  border-left: 2px solid
    dimgrey;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  padding: 0;
}

.card {
  width: 300px;
  height: 300px;
  margin: 10px;
  border: none;
}

.cards li {
  list-style-type: none;
  /* flex: 1; */
}

img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.back h2 {
  position: absolute;
}

.back p {
  position: absolute;
  top: 50px;
  font-size: 15px;
}

.front h2 {
  position: absolute;
  padding: 10px;
  top: 200px;
  color: #000;
}

/* style the card class with all child div's of class .front */
.card > .front {
  position: absolute;
  transform: perspective(
      600px
    )
    rotateY(0deg);

  width: 300px;
  height: 300px;

  backface-visibility: hidden; /* cant see the backside elements as they're turning around */
  transition: transform 0.5s
    linear 0s;
}

/* style the card class with all child div's of class .back */
.card > .back {
  position: absolute;
  transform: perspective(
      600px
    )
    rotateY(180deg);
  background: #262626;
  color: #fff;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 5px;
  backface-visibility: hidden; /* cant see the backside elements as theyre turning around */
  transition: transform 0.5s
    linear 0s;
}

.card:hover > .front {
  transform: perspective(
      600px
    )
    rotateY(-180deg);
}

.card:hover > .back {
  transform: perspective(
      600px
    )
    rotateY(0deg);
}

a:link,
a:focus,
a:active
a:hover {
  text-decoration: none;
  cursor: pointer;
  margin: 20px;
}

footer {
  color: dimgray;
  height: 70px;
  margin-top: 1.5rem;
  font-size: 1.6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer a{
  color: dimgray;
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 992px) {
  h1 {
    margin-bottom: 0px;
    max-height: 60px;
  }
  .cards-h4 {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  h3 {
    margin-right: 5px;
    font-size: large;
  }

  .navbar-nav li {
    background: rgba(
      255,
      250,
      250,
      0.7
    );
  }
}

@media screen and (max-width: 576px) {
  h3 {
    font-size: large;
    margin-left: 25px;
    margin-right: -5px;
  }

  .navbar-nav li {
    background: rgba(
      255,
      250,
      250,
      0.7
    );
  }
  .greeting {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
    margin-right: 40%;
    color: grey;
    font-weight: bold;
    background-color: whitesmoke;
  }
}
