/* Universal selector */
* {
  font-family: Arial, sans-serif;
}

/* Sets h1 - h4 bottom margin */
h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

/* Sets brand criteria */
h1 {
  box-sizing: border-box;
  display: inline-block;
  font-size: 2rem;
  line-height: 3rem;
  color: dimgray;
  border-style: none;
  background-color: turquoise;
  padding: 5px;
}

/* Sets subtitle criteria */
h2 {
  display: flex;
  margin-top: 225px;
  margin-right: 10px;
  box-sizing: border-box;
  float: right;
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: dimgray;
  border-style: none;
  background-color: turquoise;
  padding: 5px;
  vertical-align: text-bottom;
}

/* Sets paragraph bottom margin */
p {
  margin-bottom: 1rem;
}

/* Sets body criteria */
body {
  background-color: #d9dcd6;
  padding: 0;
  margin: 0;
}

/* Sets header criteria */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 80px;
  padding: 20px;
  background-color: dimgrey;
}

/* Chages link color to turquoise plus additional criteria */
header a,
a:link,
a:focus,
a:hover,
a:active {
  color: turquoise;
  text-decoration: underline;
  cursor: pointer;
}

/* Sets navigation position */
.header nav {
  float: right;
}

/* Sets navigation link criteria */
.header nav li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
  list-style-type: none;
  font-size: 22px;
}

/* Sets main background image criteria */
.greeting {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("santamaria.jpg");
  background-size: cover;
  background-position: center;
}

/* Sets "About Me" image criteria */
.About-me img {
  display: flex;
  max-width: 200px;
  max-height: 200px;
  align-self: center;
  margin-right: 2rem;
}

/* Sets h3 criteria */
h3 {
  border-right: 5px solid dimgrey;
  margin-right: 2rem;
  flex: 0 0 3%;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 40px;
  line-height: 1.1;
  color: dimgrey;
}

/* Aligns text in main sections */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Ensures content in main section occupies only 75% of screen */
.content {
  width: 75%;
  display: inline-block;
  margin-left: 10%;
  font-size: 16px;
  line-height: 24px;
  color: dimgrey;
}

/* Chages link color to grey plus additional criteria */
.Contact-me a,
a:link,
a:focus,
a:active {
  color: dimgrey;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 2rem;
  margin-left: 2rem;
}

/* Sets container wrap */
.flexbox-container {
  display: flex;
  flex-wrap: wrap;
}

/* Sets placeholder criteria */
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 250px;
  height: 250px;
  margin: 5px;
  border: 3px solid turquoise;
  background-color: aliceblue;
  padding: 5px;
}

/* Enlarges feature product */
.flexbox-item-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 800px;
  height: 400px;
  border: 3px solid turquoise;
  background-color: aliceblue;
}

/* Adds feature project glow on hover */
.flexbox-item-1 {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.flexbox-item-1:hover,
.flexbox-item-1:hover {
  box-shadow: inset 0px 0px 8px rgb(59, 226, 238), 0 0 15px rgb(22, 211, 218);
}

/* Adds projects glow on hover */
.glow {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.glow:hover,
.glow:hover {
  box-shadow: inset 0px 0px 8px rgb(59, 226, 238), 0 0 15px rgb(22, 211, 218);
}

/*sets larger container image criteria */
.img-1 {
  width: 100%;
  height: 70%;
}

/*sets smaller container image criteria */
.images {
  width: 100%;
  height: 65%;
}

/*sets h4 criteria*/
.flexbox-container h4 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: dimgray;
  border-style: none;
  background-color: turquoise;
  text-align: flex-start;
}

/* Adds article padding */
.article-class {
  padding-bottom: 2rem;
}

/* Enlarges Contact me section */
#Contact-me {
  margin-bottom: 10px;
  font-size: 20px;
  justify-content: space-between;
  text-align: center;
}

/* We are telling the main body and navbar to stack vertically in a column */
@media screen and (max-width: 992px) {
  main,
  nav {
    flex-direction: column;
  }
}

/* We are telling the main body and navbar to stack vertically in a column */
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}

/* We are telling the main body and navbar to stack vertically in a column */
@media screen and (max-width: 576px) {
  main,
  nav {
    flex-direction: column;
  }
}
