/* Universal selector */
* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* Sets brand criteria */
h1 {
  display: flex;
  font-size: 2rem;
  color: dimgray;
  border-style: none;
  background-color: turquoise;
  padding: 5px;
}

/* Sets subtitle criteria */
h2 {
  display: flex;
  margin-top: 225px;
  margin-right: 70px;
  float: right;
  font-size: 1.5rem;
  color: dimgray;
  border-style: none;
  background-color: turquoise;
  padding: 5px;
}

/* Sets paragraph bottom margin */
p {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* Sets body criteria */
body {
  background-color: #d9dcd6;
  padding: 0;
  margin: 0;
}

/* Sets header criteria */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100px;
  padding: 20px;
  background-color: dimgrey;
}

/* Chages link color to turquoise plus additional criteria */
header a,
a:link,
a:focus,
a:active {
  color: turquoise;
  text-decoration: underline;
  cursor: pointer;
}

/* Sets navigation position */
.header nav {
  float: right;
  margin-right: 40px;
}

/* Sets navigation link criteria */
.header nav li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 25px;
  list-style-type: none;
  font-size: 22px;
}

/* Sets main background image criteria */
.greeting {
  height: 300px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("santamaria.jpg");
  background-size: cover;
  background-position: center;
}

/* Sets project display */
.parent {
  display: flex;
}

/* Sets criteria for project left column */
.left-container {
  display: flex;
  justify-content: space-between;
  width: 25%;
  align-items: flex-end;
  flex-direction: column;
  font-size: 45px;
  color: dimgrey;
  margin-left: 20px;
}

/* Sets criteria for project right columns */
.right-container {
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-right: 20px;
  margin-left: 20px;
}

/* Sets "About Me" image criteria */
.About-me img {
  max-width: 200px;
  max-height: 200px;
  align-self: center;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Sets about me section criteria */
.About-me {
  border-left: 2px solid dimgrey;
  padding-right: 1rem;
  color: dimgrey;
  align-self: flex-end;
  margin-bottom: 1.5rem;
}

/* Aligns text in main sections */
.float-left {
  float: left;
  margin-right: 25px;
  margin-top: 5px;
  margin-left: 5px;
}

/* Sets container 1 criteria */
.flexbox-container-1 {
  border-left: 2px solid dimgrey;
  padding-right: 1rem;
  color: dimgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

/* Sets container 2 criteria */
.flexbox-container-2 {
  border-left: 2px solid dimgrey;
  padding-right: 1rem;
  color: dimgrey;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-direction: row;
}

/* Sets placeholder criteria */
.cards {
  /* align-self: flex-start; */
  border: 3px solid turquoise;
  background-color: aliceblue;
  flex: 0 0 31%;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 1rem;
}

/* Enlarges feature product */
.flexbox-item-1 {
  align-self: flex-start;
  border: 3px solid turquoise;
  background-color: aliceblue;
  flex: 0 0 97%;
  margin-top: 10px;
  margin-left: 1rem;
}

/* Adds feature project glow on hover */
.flexbox-item-1 {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.flexbox-item-1:hover,
.flexbox-item-1:hover {
  box-shadow: inset 0px 0px 8px rgb(59, 226, 238), 0 0 15px rgb(22, 211, 218);
}

/* Adds projects glow on hover */
.cards {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}
.cards:hover,
.cards:hover {
  box-shadow: inset 0px 0px 8px rgb(59, 226, 238), 0 0 15px rgb(22, 211, 218);
}

/*sets larger container image criteria */
.img-1 {
  width: 100%;
  height: 100%;
}

/*sets smaller container image criteria */
.images {
  width: 100%;
  height: 100%;
}

.title {
  position: absolute; 
  top: 750px;
  left: 400px;
  border-style: none;
  background-color: turquoise;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: dimgrey;
}

/*sets h4 criteria*/
.flexbox-container h4 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: dimgray;
  border-style: none;
  background-color: turquoise;
  text-align: flex-start;
}

/* Sets cards criteria */
.cards h4 {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: dimgray;
  border-style: none;
  background-color: turquoise;
  text-align: flex-start;
}

/*  Contact me section */
footer {
  display: flex;
  border-left: 2px solid dimgrey;
  padding-right: 1rem;
  color: dimgrey;
  justify-content: space-between;
  flex-direction: row;
  align-content: center;
  height: 70px;
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

/* Chages link color to grey plus additional criteria */
.Contact-me a,
a:link,
a:focus,
a:active {
  color: dimgrey;
  text-decoration: underline;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* We are telling the main body and navbar to stack vertically in a column */
@media screen and (max-width: 576px) {
  nav,
  parent {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* We are telling the main body and navbar to stack vertically in a column */
@media screen and (max-width: 768px) {
  nav,
  parent {
    /* flex-direction: column; */
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* We are telling the main body and navbar to stack vertically in a column */
@media screen and (max-width: 992px) {
  nav,
  parent {
    /* flex-direction: column; */
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
